---
// import data from "../lib/data.json";
import HeaderList from "../components/HeaderList";
// const { contents } = data;
const data = await Astro.glob("../pages/*.md");
const contents = data.map(({ frontmatter }) => frontmatter);
---

<header>
  <a href="/">
    <img class="logo" src="logo.svg" alt="logo" height="54" width="71" />
  </a>
  <HeaderList client:load transition:persist contents={contents} />
  <a class="contact" href="mailto:info@sample.com">
    <span>Contact</span>
    <span>
      <svg
        width="17"
        height="17"
        viewBox="0 0 17 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="8.5" cy="8.5" r="8.5" fill="white"></circle>
      </svg>
    </span>
  </a>
</header>
<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1.7rem;
    @media (min-width: 768px) {
      align-items: flex-start;
      gap: 4.8rem;
    }
  }
  .logo {
    width: 7.1rem;
    height: 5.4rem;
    @media (min-width: 768px) {
      width: 9rem;
      height: 6.8rem;
    }
  }
  .contact {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    color: #fff;
    height: fit-content;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--neue);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  .contact svg {
    width: 1.7rem;
    @media (min-width: 768px) {
      width: 2.1rem;
    }
  }
</style>
