---
// import data from "../lib/data.json";
import HeaderList from "../components/HeaderList";
// const { contents } = data;
const data = await Astro.glob("../pages/*.md");
const contents = data.map(({ frontmatter }) => frontmatter);
---

<header>
  <a href="/">
    <svg
      class="logo"
      width="90"
      height="69"
      viewBox="0 0 90 69"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.8699 0L7.53189 28.8228L5.19134 0H0L5.16596 37.9666V67.4672H9.89783V37.9666L15.0638 0H9.8699Z"
        fill="white"></path>
      <path
        d="M33.3993 0H29.1523L26.5478 55.1806L23.9458 0H16.6677L13.4844 67.4672H18.3381L19.0514 48.8088H21.5671L22.2805 67.4672H30.8252L31.5386 48.8088H34.0543L34.7676 67.4672H39.6213L36.4304 0H33.3993ZM19.2291 44.0795L20.3055 15.9015L21.3818 44.0795H19.2291ZM31.7137 44.0795L32.7901 15.9015L33.8664 44.0795H31.7137Z"
        fill="white"></path>
      <path
        d="M49.4061 0H40.7852V67.4672H49.4061C52.8204 67.4672 55.5875 64.7001 55.5875 61.2858V6.18138C55.5875 2.76702 52.8204 0 49.4061 0ZM49.8808 61.1842C49.8808 61.9814 49.236 62.6261 48.4389 62.6261H46.5223V4.84102H48.4389C49.236 4.84102 49.8808 5.48582 49.8808 6.28292V61.1842Z"
        fill="white"></path>
      <path d="M62.3934 48.8242H57.6133V67.4344H62.3934V48.8242Z" fill="white"
      ></path>
      <path
        d="M60.006 48.0983C61.3253 48.0983 62.3947 47.1777 62.3947 46.0421C62.3947 44.9064 61.3253 43.9858 60.006 43.9858C58.6867 43.9858 57.6172 44.9064 57.6172 46.0421C57.6172 47.1777 58.6867 48.0983 60.006 48.0983Z"
        fill="white"></path>
      <path
        d="M69.0485 48.5488C68.452 48.5488 67.8757 48.6453 67.3375 48.823H63.5703V67.4331H68.3504V53.7529C68.3504 53.367 68.6627 53.0548 69.0485 53.0548C69.4344 53.0548 69.7466 53.367 69.7466 53.7529V67.4331H74.5267V54.0296C74.5267 51.0036 72.0745 48.5514 69.0485 48.5514V48.5488Z"
        fill="white"></path>
      <path
        d="M85.9408 60.15H81.1607V62.488C81.1607 62.8739 80.8484 63.1861 80.4626 63.1861C80.0767 63.1861 79.7645 62.8739 79.7645 62.488V53.7503C79.7645 53.3645 80.0767 53.0522 80.4626 53.0522C80.8484 53.0522 81.1607 53.3645 81.1607 53.7503V56.1848H85.9408V54.027C85.9408 51.0011 83.4885 48.5488 80.4626 48.5488C77.4366 48.5488 74.9844 51.0011 74.9844 54.027V62.2113C74.9844 65.2373 77.4366 67.6895 80.4626 67.6895C83.4885 67.6895 85.9408 65.2373 85.9408 62.2113V60.15Z"
        fill="white"></path>
      <path
        d="M87.6114 68.3703C88.9307 68.3703 90.0002 67.4497 90.0002 66.314C90.0002 65.1784 88.9307 64.2578 87.6114 64.2578C86.2922 64.2578 85.2227 65.1784 85.2227 66.314C85.2227 67.4497 86.2922 68.3703 87.6114 68.3703Z"
        fill="white"></path>
    </svg>
  </a>
  <HeaderList client:load transition:persist contents={contents} />
  <a class="contact" href="mailto:info@sample.com">
    <span>Contact</span>
    <span>
      <svg
        width="17"
        height="17"
        viewBox="0 0 17 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="8.5" cy="8.5" r="8.5" fill="white"></circle>
      </svg>
    </span>
  </a>
</header>
<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1.7rem;
    @media (min-width: 768px) {
      align-items: flex-start;
      gap: 4.8rem;
    }
  }
  .logo {
    width: 7.1rem;
    height: 5.4rem;
    @media (min-width: 768px) {
      width: 9rem;
      height: 6.8rem;
    }
  }
  .contact {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    color: #fff;
    height: fit-content;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--neue);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  .contact svg {
    width: 1.7rem;
    @media (min-width: 768px) {
      width: 2.1rem;
    }
  }
</style>
