---
import { Image } from "astro:assets";
import loader from "../assets/loader.svg";
---

<div
  id="loading"
  class="fixed top-0 left-0 w-full h-full py-[13.5rem] bg-[#404040] flex items-center justify-center z-[9999] opacity-0 pointer-events-none"
>
  <Image
    id="loader-logo"
    src={loader}
    alt="loader"
    class="w-full max-w-[80vw] h-full object-contain! opacity-0 transition-opacity duration-1000 ease-out"
  />
</div>

<script>
  function loadingAnimation() {
    const loading = document.getElementById("loading");
    const loaderLogo = document.getElementById("loader-logo");

    if (loading && loaderLogo) {
      loading.style.opacity = "1";
      // 1. 0.25秒待ってからロゴを1秒アニメーション
      setTimeout(() => {
        loaderLogo.style.opacity = "1";
        loaderLogo.style.transition = "opacity 1s ease-out";

        // 2. ロゴアニメーション完了後、0.25秒待ってから画面全体を1秒アニメーション
        setTimeout(() => {
          loading.style.opacity = "0";
          loading.style.transition = "opacity 1s ease-out";

          // 3. アニメーション完了後にinvisibleを追加してDOMから削除
          setTimeout(() => {
            loading.style.display = "none";
          }, 1000); // transition-opacity duration-1000に合わせる
        }, 1250); // ロゴアニメーション1秒 + 待機0.25秒 = 1.25秒
      }, 250); // 初期表示後0.25秒待機
    }
  }
  if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", loadingAnimation);
  } else {
    loadingAnimation();
  }
</script>
